@media screen and (max-width: 1024px) {
  .mainContainer {
    background-color: #f1f1f1;
    border-radius: 15px;
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translate(-50%, 11%);
  }
  .todo-app {
    .mainContainer {
      &-category {
        // max-height: fit-content;
        height: 100vh;
      }
    }
  }
}
